* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  min-width: 600px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px 10px 10px;
  font-size: 20px;
  -webkit-box-shadow: -8px -8px 12px #ebe6e6, 8px 8px 30px #ebe6e6;
          box-shadow: -8px -8px 12px #ebe6e6, 8px 8px 30px #ebe6e6;
  width: 100%;
  margin-bottom: 20px;
}

header img {
  width: 20%;
  min-width: 150px;
}

header ul {
  list-style-type: none;
}

header ul li {
  float: left;
  margin-right: 30px;
}

header ul a {
  text-decoration: none;
  color: black;
}

main .productAndDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
}

main .productAndDescription section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  min-width: 350px;
  border-radius: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 20px;
  -webkit-box-shadow: -8px -8px 12px #ebe6e6, 8px 8px 12px #a3b1c6;
          box-shadow: -8px -8px 12px #ebe6e6, 8px 8px 12px #a3b1c6;
  padding-top: 40px;
}

main .productAndDescription section div {
  border-radius: 10px;
  padding: 15px;
  margin: 20px;
  width: 300px;
  -webkit-box-shadow: -8px -8px 12px #ebe6e6, 8px 8px 12px #a3b1c6;
          box-shadow: -8px -8px 12px #ebe6e6, 8px 8px 12px #a3b1c6;
}

main .productAndDescription section div img {
  width: 100%;
  border-radius: 10px;
}

main .productAndDescription section div .title {
  text-align: center;
  margin: 10px 0 15px;
}

main .productAndDescription section div .price {
  text-align: right;
  padding-right: 20px;
  margin: 10px 0;
  font-size: 20px;
  font-weight: 600px;
  color: #d49114;
}

main .productAndDescription aside {
  width: 30%;
  min-width: 250px;
  border-radius: 20px;
  -webkit-box-shadow: -8px -8px 12px #ebe6e6, 8px 8px 12px #a3b1c6;
          box-shadow: -8px -8px 12px #ebe6e6, 8px 8px 12px #a3b1c6;
  display: none;
  padding: 20px;
}

main .productAndDescription aside img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
}

main .productAndDescription aside #asideTitle {
  margin-bottom: 20px;
}

main .productAndDescription aside #asideTitle + p {
  margin-bottom: 20px;
  font-weight: bold;
}

main .productAndDescription aside > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

main .productAndDescription aside > div div {
  width: 35%;
  text-align: center;
}

main .productAndDescription aside > div div .asideDescText {
  margin-bottom: 10px;
}

main .productAndDescription aside .quantity input {
  width: 80px;
  height: 20px;
}

main .productAndDescription aside #addToCart {
  border: none;
  padding: 10px 5px;
  background-color: #eb5800;
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  -webkit-box-shadow: -8px -8px 12px #ebe6e6, 4px 4px 6px #a3b1c6;
          box-shadow: -8px -8px 12px #ebe6e6, 4px 4px 6px #a3b1c6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .productAndDescription aside #addToCart + p {
  margin-top: 20px;
}

.products:hover {
  cursor: pointer;
  -webkit-box-shadow: -4px -4px 24px rgba(247, 247, 2, 0.2), 4px 4px 24px rgba(255, 167, 4, 0.5);
          box-shadow: -4px -4px 24px rgba(247, 247, 2, 0.2), 4px 4px 24px rgba(255, 167, 4, 0.5);
}

#asideDescription {
  text-align: justify;
}

#closer {
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  padding: 5px 15px;
  margin-bottom: 10px;
  float: right;
}

#closer:hover {
  background-color: #4d4d4d;
  cursor: pointer;
}

#addToCart:hover {
  background-color: #d24e00;
  cursor: pointer;
}

.cart {
  -webkit-box-shadow: -8px -8px 12px #ebe6e6, 8px 8px 12px #a3b1c6;
          box-shadow: -8px -8px 12px #ebe6e6, 8px 8px 12px #a3b1c6;
  border-radius: 20px;
  margin: 10px 30px 0 10px;
  padding: 20px 0;
}

.cart p {
  margin-left: 120px;
}

.cart p #yourCart {
  font-size: 40px;
  font-family: 'Pacifico', cursive;
}

.cart p #isEmpty {
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  margin-left: 10px;
  color: gray;
}

.cart ul {
  list-style-type: none;
  margin: 20px 0 0px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart ul li {
  width: 12%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart ul li img {
  width: 40px;
}

.cart ul .cartTitle {
  width: 30%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: red;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.remove:hover {
  background-color: rgba(211, 211, 211, 0.37);
}
/*# sourceMappingURL=style.css.map */